div#board {
  width: fit-content;
  height: fit-content;
  display: grid;
  align-content: center;
  border-radius: 5px;
}
div#board button.box {
  width: 30px;
  height: 30px;
  position: relative;
  border-radius: 0;
  background: var(--clr-light-background);
  color: var(--clr-light-contrast);
  border: none;
  font-size: var(--fns-box);
  transition: 0.65s ease;
}
div#board button.box::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: var(--clr-light-main);
  top: 0;
  left: 0;
  transform: scale(0);
  transition: inherit;
  transition-delay: inherit;
  border-radius: inherit;
}
div#board button.box.hidden::after {
  transform: scale(1);
}
div#board button.box.bomb::after,
div#board button.box.success::after,
div#board button.box.hidden.flag::after,
div#board button.box.hidden:hover::after {
  background: var(--clr-light-contrast);
}
div#board button.box::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  background-size: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  filter: invert(100%) sepia(31%) saturate(4492%) hue-rotate(177deg) brightness(104%) contrast(107%);
  z-index: 2;
  transition: inherit;
  transition-delay: inherit;
}
div#board button.box.hidden.bomb::before {
  background-image: url('../assets/icons/bomb.svg');
  transform: scale(1);
}
div#board button.box.hidden.success::before,
div#board button.box.hidden.flag::before {
  background-image: url('../assets/icons/pennant-filled.svg');
  transform: scale(1);
}

@media (prefers-color-scheme: dark) {
  div#board button.box {
    background: var(--clr-dark-background);
    color: var(--clr-dark-contrast);
  }
  div#board button.box::after {
    background: var(--clr-dark-main);
  }
  div#board button.box.bomb::after,
  div#board button.box.success::after,
  div#board button.box.hidden.flag::after,
  div#board button.box.hidden:hover::after {
    background: color-mix(in srgb, var(--clr-dark-main), var(--clr-dark-background));
  }
  div#board button.box::before {
    filter: invert(95%) sepia(64%) saturate(7499%) hue-rotate(181deg) brightness(103%) contrast(106%);
  }
}