@import url('general.css');
@import url('variables.css');
@import url('header.css');
@import url('footer.css');
@import url('selector.css');
@import url('board.css');

main {
  width: 100%;
  height: 90vh;
  padding: 0 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3vh;
}
main section.actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main section.actions div.left {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
main section.actions div.left button#play {
  height: 40px;
  padding: 10px 30px;
  width: auto;
  background: var(--clr-light-main);
  border: none;
  border-radius: 30px;
  color: var(--clr-light-background);
  font-size: var(--fns-box);
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}
main section.actions div.left button#play:is(:hover, :focus) {
  outline: none;
  background: var(--clr-light-contrast);
}
main section.actions div.right {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
main section.actions div.right span {
  font-size: var(--fns-text);
  font-weight: 400;
  color: var(--clr-light-contrast);
}

main section.game {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-height: 70vh;
  max-width: 100%;
  overflow: auto;
  padding: 30px;
}

footer ul li a img,
div.selector button.slr-options-visibility img {
  filter: invert(52%) sepia(43%) saturate(561%) hue-rotate(132deg) brightness(97%) contrast(92%);
}

@media (prefers-color-scheme: dark) {
  main section.actions div.left button#play {
    background: var(--clr-dark-main);
    color: var(--clr-dark-contrast);
  }
  main section.actions div.left button#play:is(:hover, :focus) {
    background: color-mix(in srgb, var(--clr-dark-main), var(--clr-dark-background));
  }
  main section.actions div.right span {
    color: var(--clr-dark-contrast);
  }
  footer ul li a img,
  div.selector button.slr-options-visibility img {
    filter: invert(85%) sepia(88%) saturate(3237%) hue-rotate(181deg) brightness(105%) contrast(101%);
  }
}