:root {
  /* --- Colors --- */
  /* dark theme */
  --clr-dark-background: #1B1F3B;
  --clr-dark-contrast: #FFFFFF;
  --clr-dark-main: #454ADE;
  /* light theme */
  --clr-light-background: #FFFFFF;
  --clr-light-contrast: #3C0919;
  --clr-light-main: #E2294F;

  --clr-grey: #5e5b69;

  /* --- Font zize --- */
  --fns-header: 2.4em;
  --fns-subtitle: 1.8em;
  --fns-text: 1.1em;
  --fns-box: 0.9em;
}